@{
    ViewBag.Title = "Home Page";
}
@using(Html.BeginForm("Genera","Home",FormMethod.Post)){ 
<div class="container">
    <hr />
    <hr />
    <div class="row">
        <div class="col-md-4">
            <label>Cognome</label>
        </div>
        <div class="col-md-4">
            <input type="text" name="InsertCognome" placeholder="Inserisci il cognome" required   />
        </div>
        <button type="submit" id="Button">Genera</button>
    </div>
</div>
}